 <style id="main">
        :root {
            --title-font: {TitleFont};
            --title-font-weight: {TitleFontWeight};

            --heading-font:{select:Font Heading};
            --body-font:{select:Font Body};
            --code-font: 'Consolas', monospace;

            --accent:{RGBcolor:Accent Color};

            --bg-img: url('https://assets.tumblr.com/images/x.gif?v=1');

            --btn-primary:{RGBcolor:Button Background Color};
            --btn-text-primary:{RGBcolor:Button Text Color};

            --btn-primary-hover:{RGBcolor:Button Background Color On Hover};
            --btn-text-primary-hover:{RGBcolor:Button Text Color On Hover};

            --bg-card-pinned-border:210, 153, 159;

            --pinned-label-bg:210, 153, 159;
            --pinned-label-text:255,255,255;

            --hero-bg-img:url('{image:Hero Top Background Image}');

            --footer-bg-img:url('{image:Footer Bottom Background Image}');
            --footer-height:{text:Footer Section Height};

            --social-media-btn:{RGBcolor:Social Media Button Background Color};
            --social-media-btn-text:{RGBcolor:Social Media Button Text Color};
            --social-media-btn-hover:{RGBcolor:Social Media Button Background Color On Hover};
            --social-media-btn-text-hover:{RGBcolor:Social Media Button Text Color On Hover};

            --header-navigation-circle-one:{RGBcolor:Header Navigation Dots One};
            
            --hero-overlay:{RGBcolor:Hero Top Overlay Color};
            --hero-overlay-level:{select:Hero Overlay Level};
            --hero-height:{text:Hero Top Section Height};

            --text-xxl: clamp(2rem, (1rem + 2.5vw), 3rem);
            --text-xl: clamp(1.25rem, (1rem + 2.5vw), 2rem);
            --text-lg: clamp(1rem, (1rem + 2.5vw), 1.125rem);
            --text-md: clamp(0.85rem, (1rem + 2.5vw) 1rem);
            --text-sm: clamp(0.65rem, (1rem + 2.5vw), 0.85rem);

            --padding-lg: clamp(2rem, 2.5vw, 2.25rem);
            --padding-md: clamp(1.45rem, 2.5vw, 2rem);
            --padding-sm: clamp(1rem, 2.5vw, 1.5rem);

            --blog-width:{select:Blog Width};

            --font-size:14px;
             font-size:var(--font-size);
        }

        :root[data-force-color-mode="light"] {
            --bg-color: {RGBcolor:Background Page Color};
            --bg-post-color:{RGBcolor:Background Container Color};

            --bg-card:{RGBcolor:Posts Background Color};
            --body-text: {RGBcolor:Posts Body Text Color};
            --body-link: {RGBcolor:Posts Body Link Color};
            --heading-text: {RGBcolor:Posts Body Heading Color};

            --bg-card-pinned:var(--bg-card);

            --post-bubble-bg:238,238,238;
            --post-bubble-text:17,17,17;

            --hero-color:{RGBcolor:Hero Top Text Color};

            --border-color:{RGBcolor:Border Color};

            --header-navigation-bg:{RGBcolor:Header Navigation Background Color};
            --header-navigation-text:{RGBcolor:Header Navigation Link Color};

            --header-navigation-circle-two:{RGBcolor:Header Navigation Dots Two};

            --tags-button-text:153, 153, 153;
            --tags-button-text-hover:{RGBcolor:Posts Body Link Color};

            --action-button-text:{RGBcolor:Posts Body Link Color};
            --action-button-border:{RGBcolor:Border Color};
            --action-button-bg-hover:'';
            --action-button-text-hover{RGBcolor:Posts Body Link Color};
        }

        :root[data-force-color-mode="dark"] {
            --bg-color:27, 33, 40;
            --bg-post-color:33, 41, 49;

            --bg-card: 45, 56, 67;
            --body-text:199, 204, 209;
            --body-link: 255,255,255;
            --heading-text: 255,255,255;

            --bg-card-pinned:var(--bg-card);

            --post-bubble-bg:33, 41, 49;
            --post-bubble-text:199, 204, 209;

            --hero-color: 255,255,255;

            --border-color:65, 72, 78;
            
            --header-navigation-circle-two:199, 204, 209;

            --header-navigation-bg:27, 33, 40;
            --header-navigation-text:255,255,255;
   
            --tags-button-text:199, 204, 209;
            --tags-button-text-hover:255,255,255;

            --action-button-text:199, 204, 209;
            --action-button-border:199, 204, 209;
            --action-button-bg-hover:248, 232, 233;
            --action-button-text-hover:255,255,255;
        }
        
        /* tumblr controls */
        body > .tmblr-iframe.tmblr-iframe--unified-controls {
          position: absolute !important;
          right: calc(50% - 1300px/2 + 50px) !important;
          left: auto;
          top: 90px;
          transform: scale(0.85);
          transform-origin: top right;
          z-index:99!important;
        }
        body.is-pushed > .tmblr-iframe.tmblr-iframe--unified-controls {
            top: 175px;
        }
        
        {block:IndexPage}
        body.is-three-column[data-blog-style="masonry"] > .tmblr-iframe.tmblr-iframe--unified-controls {   
            right:calc(50% - 1380px/2 + 50px) !important;
        }
        {/block:IndexPage}
        
        @media (max-width:991.98px) {
            body > .tmblr-iframe.tmblr-iframe--unified-controls {
                display:none!important;
            }
        }
        
        /* others */
        {block:IfSelectionColor}
        ::selection {
            background:{color:Selection Text Background Color};
            color:{color:Selection Text Color};
        }
             
        ::-moz-selection {
            background:{color:Selection Text Background Color};
            color:{color:Selection Text Color};
        }
             
        ::-webkit-selection {
            background:{color:Selection Text Background Color};
            color:{color:Selection Text Color};
        }
        {/block:IfSelectionColor}
        
        .posts__dated__perma a[data-article-date="enabled"] 
        > span.d-display__{select:Posts Date Format} {
            display:block!important;
        }
        
        @media (min-width:992px) {
            .wrapper__featured {
                padding-left: calc(100% - var(--blog-width) - 90px);
            } 
        }
    </style>
    <style id="custom">
         {CustomCSS} 
    </style>
